POSTGRES_PASSWORD=
JWT_SECRET=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PUBLIC_URL=
SITE_URL=
ADDITIONAL_REDIRECT_URLS=
ALLOWED_ORIGIN=
GOTRUE_MAILER_AUTOCONFIRM=
ETHERSCAN_API_KEY=
PLATFORM_BASE_DOMAIN=
PLATFORM_SUPPORT_EMAIL=
MAIL_FROM=
